/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navbar-expand-lg .navbar-collapse a{
    color: white;

}

h1 {
    text-align: center;
    padding: 30px;
}

h1{
    background-color: darkgrey;
}


.card-border{
    border: solid 2px darkgray;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: space-around;
}

.navbar .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
}

.header .navbar-nav a{
    font-weight: bold;
}

.header .navbar-nav a:hover{
    color:blue;
    font-size: larger;
}



/* Footer */

.footer {
    background-color: #1a1a1aff;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
  
.footer .social {
    width: 25px;
}
  
.footer ul{
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: space-between;
  }




@media (max-width: 350px) {
    
    footer {
      justify-content: space-around;
      align-items: center;
      flex-direction: column-reverse;
    }
  
}
